/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#heading {
  display: flex;
  text-align: center;
   height:150px;
  flex-direction: row;
  font: ye_olde_oak;
  background-color:yellow;
  color: red;
  justify-content: flex-start;
  position: relative;

}
#dropdowns-container{
  flex: 0 1 auto;
  margin-left: auto;
  align-self: center;
  padding: 10px;


}
  #rating-dropdown{
  
  

  }
  

#title {
  display: flex;
  flex: 0 1 auto;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
font-size: 90px;
}

@font-face {
  font-family: Oak;
  src: url("/fonts/ye_olde_oak.ttf");
}
#navText {
  font-family: Oak;
  text-align: center;
  color:midnightblue;
  font-size: 90px;
}

#navBar {
  text-align: center;
}

#slogan {
  margin-top: 50px;
}

#bodyContainer {
  background-image: url("https://i.pinimg.com/originals/9f/c4/f5/9fc4f5915e50d5fe25d2e46004c78b7a.jpg");
}

/* Contains map and "list" divs*/
#flex-container {
  display: flex;
  flex-wrap: row;
  height: 75%;
  justify-content: center;
  margin-top: 50px;
}
#infowindow {
  color: gray;
}

/* This  is a seperate container that only contains the map*/
#map-container {
  width: 70%;
}

/*map-div*/
#map {
  display: flex;
  width: 90%;
  flex-direction: column;
  height: 100%;
  margin-top: 10px;
}

/* list-div*/
#list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: blue;
}

#button-box {
  display: flex;
  justify-content: center;
}

#reviews {
  height: 10%;
}

.area {
  text-align: center;
  font-size: 2.5em;
  color: rgb(184, 16, 16);
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}
