
 

#heading {
  display: flex;
  text-align: center;
  height: 12%;
  width: 100%;
  flex-direction: row;
  background-color: rgb(218, 180, 84);;
  color: navy;
  justify-content: flex-start;
  position: relative;
}

#dropdowns-container{
  flex: 0 1 auto;
  margin-left: auto;
  margin-right: 8%;
  align-self: center;
  /* padding: 10px; */
}

#title {
  display: flex;
  flex: 0 1 auto;
  position: absolute;
  left:50%;
  transform: translateX(-50%);
  font-size: clamp(16px, 6vw, 90px);
  font-family:'Times New Roman';
}

#navText {
  text-align: center;
  color:midnightblue;
  font-size: 90px;
}

#navBar {
  align-content: center;
}

#slogan {
  margin-top: 50px;
  font-size: clamp(12px, 2vw, 20px);
}

#bodyContainer {
  background-image: url("Background.jpg");
  }

/* Contains map and "list" divs*/
#flex-container {
  display: flex;
  flex-wrap: row;
  height: 70%;
  justify-content: center;
  margin-top: .5%;
}
#infowindow {
  color: gray;
}

/* This  is a seperate container that only contains the map*/
#map-container {
  width: 75%;
}

/*map-div*/
#map {
  display: flex;
  width: 85%;
  flex-direction: column;
  height: 100%;
  border-style: double;
  border-color: rgb(218, 180, 84);
  border-width: 35px;
  background-color: black;
}

#carouselExampleCaptions {
  display: flex;
  width: 85%;
  flex-direction: column;
  height: 80%;
  margin-top: 1%;
  border-style: double;
  border-color: rgb(218, 180, 84);
  border-width: 35px;
  background-color: black;
 }

.carousel-inner {
 font-size: xx-large;
 color:rgb(218, 180, 84);
 text-align: center;
 text-indent: 1%;
}

/* list-div*/
#list-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 30%;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  color: blue;
}



#button-box {
  display: flex;
  justify-content: center;
}

#reviewsContainer {
  display: flex;
  height: 15%;
  flex-wrap: row;
  justify-content: center;
  align-content: center;
}

#reviews {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

select {
  width: 100%;
}

.area {
  text-align: center;
  font-size: 2.5em;
  color: rgb(184, 16, 16);
  letter-spacing: 3px;
  font-weight: 700;
  text-transform: uppercase;
  animation: blur 0.75s ease-out infinite;
  text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
}
@keyframes blur {
  from {
    text-shadow: 0px 0px 10px #fff, 0px 0px 10px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff, 0px 0px 25px #fff,
      0px 0px 25px #fff, 0px 0px 50px #fff, 0px 0px 50px #fff,
      0px 0px 50px #7b96b8, 0px 0px 150px #7b96b8, 0px 10px 100px #7b96b8,
      0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8, 0px 10px 100px #7b96b8,
      0px -10px 100px #7b96b8, 0px -10px 100px #7b96b8;
  }
}


@media screen and (max-height: 950px) { 
  #heading {
  height: 10%;
 }
#reviewsContainer {
  display: none;
}
}